.create_patient_input{
    display: block;
    width: 300px;
    height: 40px;
    padding: 10px;
    font-family: "Poppins" ,sans-serif;
    border: 1px solid rgb(184, 184, 184);
    border-radius: 5px;
    margin: 15px auto 3px auto;
    font-size: 17px;
    transition: outline 0.5s;
    &:focus{
        outline: 1px solid #7EC04C;
    }
}

.patient_create_form{
    padding: 15px;
    box-shadow: 1px 1px 20px 1px rgb(185, 185, 185);
    border-radius: 10px;
    margin-bottom: 50px;
    font-family: "Poppins" ,sans-serif;
    max-width: 400px;
    span{
        color:red;
        margin-left: 40px;
    }
}

.create_patient_title{
    color: #7EC04C;
    text-align: center;
    padding: 10px;
}

.create_patient_button{
    background-color: #7EC04C;  
    width: 120px;
    height: 40px;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-family: "Poppins" , sans-serif;
    font-size: 17px;
    transition: background-color 0.5s;
    &:hover{
        background-color: #64a334;
        cursor: pointer;
    }
}
.cancel_patient_button{
    background-color: #bbb;  
    width: 120px;
    height: 40px;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-family: "Poppins" , sans-serif;
    font-size: 17px;
    transition: background-color 0.5s;
    &:hover{
        background-color: #808080;
        cursor: pointer;
    }
}

.patient_create_button{
    width: 260px;
    gap: 10px;
    display: flex;
    margin: 20px auto;
}