@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
.custom_container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 25px;
}

.topnav_context {
  position: fixed;
  z-index: 100;
  top: 0;
  width: 100%;
}

.topnav {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.topnav .logo {
  width: 50px;
}

.topnav .topnav_links-item {
  color: #7EC04C;
  text-decoration: none;
  margin-left: 30px;
}

.topnav .icon {
  color: #7EC04C;
  font-size: 20px;
  text-decoration: none;
  font-weight: 500;
  margin-left: 20px;
  display: none;
}

@media screen and (max-width: 992px) {
  .topnav .icon {
    display: block;
  }
  .topnav .topnav_links-item {
    display: none;
  }
}

.sidebar {
  font-family: 'Poppins', sans-serif;
  position: fixed;
  background-color: #000;
  z-index: 10;
  max-width: 420px;
  width: 100%;
  height: 1400px;
  top: 0;
  right: 0px;
  padding-top: 80px;
  display: none;
}

@-webkit-keyframes side {
  from {
    right: -400px;
  }
  to {
    right: 0;
  }
}

@keyframes side {
  from {
    right: -400px;
  }
  to {
    right: 0;
  }
}

@-webkit-keyframes sideback {
  from {
    right: 0px;
  }
  to {
    right: -500px;
  }
}

@keyframes sideback {
  from {
    right: 0px;
  }
  to {
    right: -500px;
  }
}

.sidebar.opened {
  -webkit-animation: side 0.5s ease-out;
          animation: side 0.5s ease-out;
  display: block;
}

.sidebar.close {
  -webkit-animation: sideback 0.5s ease-out forwards;
          animation: sideback 0.5s ease-out forwards;
  display: block;
}

.close_button {
  position: absolute;
  top: 20px;
  right: 40px;
  color: red;
  font-size: 20px;
}

.close_linker {
  color: red;
  text-decoration: none;
}

@media screen and (min-width: 1220px) {
  #sidebar {
    display: none;
  }
}

.sidebar_links-item {
  color: #7EC04C;
  font-size: 20px;
  display: block;
  margin-left: 25px;
  margin-bottom: 15px;
  text-decoration: none;
}

nav a {
  position: relative;
}

nav a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -2px;
  left: 0;
  background-color: #7EC04C;
  visibility: hidden;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

nav a:hover::before {
  visibility: visible;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.topnav_links-item.active::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -2px;
  left: 0;
  background-color: #7EC04C;
}

.nav-scrolled {
  background-color: #fff;
}

.topnav_links-item.topnav_links-button {
  border: none;
  background-color: #7EC04C;
  border-radius: 40px;
  padding: 3px 10px;
  color: #fff;
  font-weight: 500;
  font-size: 17px;
  -webkit-transition: background-color 0.5s , color 0.5s;
  transition: background-color 0.5s , color 0.5s;
}

.topnav_links-item.topnav_links-button:hover {
  background-color: #fff;
  color: #7EC04C;
}

.topnav_links-item.active.topnav_links-button::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -2px;
  left: 0;
  background-color: transparent;
}

.sidebar_links-item.topnav_links-button {
  border: none;
  background-color: #7EC04C;
  border-radius: 40px;
  padding: 3px 10px;
  color: #fff;
  font-weight: 500;
  font-size: 17px;
  -webkit-transition: background-color 0.5s , color 0.5s;
  transition: background-color 0.5s , color 0.5s;
}

.sidebar_links-item.topnav_links-button:hover {
  background-color: #fff;
  color: #7EC04C;
}

.sidebar_links-item.topnav_links-button::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -2px;
  left: 0;
  background-color: transparent;
}
/*# sourceMappingURL=Header.css.map */