.systemicon{
    position: absolute;
    top: 150px;
    left: 50px;
    display: none;
}

.system_content{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    margin-top: 150px;
}

::selection{
    background-color: #000;
    color: #fff;
}

@media screen and (max-width:1200px) {
    .system_content{
        display: grid;
        grid-template-columns: auto;
        gap: 30px;
        margin-top: 150px;
        justify-content: center;
    }
}

.danger_sign{
    display: none;
}

@media screen and (max-width:1016px) {
    .danger_sign{
        display: block;
        text-align: center;
    }
}